.border-radius{
    border-radius: 13px;
    box-shadow: 15px 15px 15px #554d4d;
}
.box-shadow{
    box-shadow: 10px 15px 15px #554d4d;
}
.fl-wrapper{
    margin-top: 38px !important;
}
.fl-content{
    display: flex !important;
    flex-direction: row !important;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.card{
    opacity: 0.7;
}
.card:hover{
    opacity: 1;
}
.dashboard-header{
    opacity: 0.6;
}


